@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Home assignment for <a href="https://www.richkid.co.il/he/home/a/main/">R*CHK>D</a>.</p>
</div>
